<div class="container mt-4">
    <div class="row">
        <div class="col">
            <h1>
                    
                        <i class="fa-solid fa-user-plus"></i> &nbsp; 
                        Edit Contact Page
                    
                    </h1>
            <p style="text-align: justify;">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Error suscipit neque perferendis fugiat voluptatum, voluptate sint, quam voluptatem officia eaque soluta quibusdam non, quae eveniet eum vel reiciendis beatae omnis?Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium voluptatem aut molestiae dolor! Modi exercitationem laudantium nisi rerum ipsa autem, libero fuga quae eum earum, error eveniet neque quos maxime. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis fugit iure perferendis cumque magnam tempore, cum impedit! Vero, amet quisquam. Eaque libero ipsam iste cum iure provident placeat quo nostrum.
            </p>
        </div>
    </div>

    <!-- add contact form -->
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <form class="border p-3 rounded">
                    <div class="mb-2">
                        <input placeholder="Name" type="text" class="form-control">
                    </div>
                    <div class="mb-2">
                        <input placeholder="Photo URL" type="text" class="form-control">
                    </div>
                    <div class="mb-2">
                        <input placeholder="Email ID" type="text" class="form-control">
                    </div>
                    <div class="mb-2">
                        <input placeholder="Mobile Number" type="text" class="form-control">
                    </div>
                    <div class="mb-2">
                        <input placeholder="Company" type="text" class="form-control">
                    </div>
                    <div class="mb-2">
                        <input placeholder="Title" type="text" class="form-control">
                    </div>
                    <div class="mb-2">
                        <select name="" id="" class="form-control">
                            <option value="" selected hidden disabled>Select A Group</option>
                            <option value="">Family</option>
                            <option value="">Friends</option>
                        </select>
                    </div>
                    <div class="mb-2">
                        <input value="Update" type="button" class="btn btn-success">
                        <a routerLink="/" class="btn btn-warning ms-3">Close</a>
                    </div>
                </form>
            </div>
            <div class="col-md-4">
                <img src="https://www.freeiconspng.com/thumbs/face-icon-png/blank-face-person-icon-7.png" alt="no image" class="contact_image mt-2">
            </div>
        </div>
    </div>
</div>